neo4j==6.1.0
pandas==3.0.1
numpy==2.4.3
matplotlib==3.10.8
seaborn==0.13.2
networkx==3.6.1
scikit-learn==1.8.0
python-dotenv==1.2.2
pyvis==0.3.2
python-louvain==0.16
pykeen==1.11.1
torch==2.10.0
requests==2.32.5
